################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
*.lock.json
/packages/
/.vs/
/**/bin/
/**/obj/